# file storage json file
file.json

# test files
test_params_create
main_delete.py

# temp files
*.sw*

# scripts
create_env_vars.sh

# code editors
.vscode

# testing folder
testing/

#Other scripts
fabric-install.sh
